@import 'nib'

// COLOR SCHEME
$color-1 = #4d8b4d
$color-2 = #fcc240
$color-3 = #bf4b31
$color-4 = #4b3929
$color-5 = #ced6b4

// THEME
$color-header-text = $color-3
$color-background = lighten($color-5, 80%)
$color-highlight = lighten($color-2, 70%)
$color-special = $color-1
$color-text = black

$font-fancy = 'Great Vibes', serif
$font-normal = 'Open Sans', Helvetica, Arial, sans-serif

$size-content-width = 720px
$size-ingredients-width = 35%

*
  box-sizing border-box

// STYLES
h1, h2, h3, h4, h5, h6
  font-family $font-normal
  font-weight 600
  color $color-header-text

html
  background-color $color-background
  width 100%
  height @width

  font-family $font-normal
  font-size 18px

.special
  color $color-special
  font-weight bold

#content
  width $size-content-width
  margin-left auto
  margin-right @margin-left

  // shrink font and use full width for printing
  @media print
    font-size 0.8em
    width 100%

#search
  // TODO: implement search
  display none

  text-align center
  position absolute
  top 50%
  left 50%

  h1
    font-family $font-fancy
    font-size 120px
    padding 0.1em

  header
    height 200px
    width 450px
    margin-top -(@height / 2)
    margin-left -(@width / 2)

  input
    font-size 22px
    font-family inherit
    text-align center

    padding 0.3em
    margin 0
    width 100%

    border-radius 2em

    border none
    background-color rgba(white, 0.8)
    box-shadow 0 0 10px rgba(black, 0.3)

    transition-property background-color
    transition-duration 250ms

    &:focus
      background-color white
      outline none

.recipe
  padding 0.5em

  .serves:after
    content ','

  header
    margin-bottom 20px

  h1
    font-size 50px
    margin-bottom 10px

  .notes
    p
      text-align justify
      line-height 1.2em

      &~ p
        margin-top 1em
      &:last-child
        margin-bottom 1em

  .main
    clearfix()

  .ingredients
  .directions
    float left

    h2
      font-family $font-header
      margin-bottom 8px
      font-size 22px

  .ingredients
    width $size-ingredients-width

    ul
      list-style-type none

  .ingredient
    clearfix()

    padding 0.3em
    margin-left -(@padding)

    border-radius 8px
    cursor pointer

    transition-property background-color
    transition-duration 150ms

    line-height 1.2em

    .measure
      float right
      color lighten($color-text, 65%)
      font-size 0.8em

    .optional
      // hidden unless the ingredient is optional
      display none

      color lighten($color-text, 65%)
      font-style italic

    &.optional .optional
      display inline

    &.selected
    &:hover
      background-color $color-highlight

    // join highlight backgrounds for adjacent selected elements
    &.selected + .selected
      border-top-left-radius 0
      border-top-right-radius 0

      // pull the top up under the previous selected sibling, to give the effect
      // of removing the previous sibling's bottom border radius
      padding-top @padding + 1em
      margin-top -1em

  .directions
    width 100% - $size-ingredients-width
    padding-left 10px

  .direction
    text-align justify
    line-height 1.2em

    &~ .direction
      margin-top 1em
